// http://colorschemedesigner.com/#0651BNhlAK-00

@import url(forms.css);
@import url(source.css);

@primbackground: #690e00;
@secbackground: #FFFFFF;

@primtextcolor: #692200;
@sectextcolor: #778899;
@linkcolor: #a4a5a6;

// menu
@menulinkcolor: #321000;
@menuhighlight: #ddd;
@menuhovercolor: @menuhighlight;

@footerbackground: @primbackground;
@footerlinkcolor: #321000;
@footerhovercolor: white;
@footertextcolor: white;

@pagewidth: 90%;
@divprimwidth: 85%;
@divsecwidth: 100 - @divprimwidth;
@divimagewidth: 25%;

@footerwidth: 100%;
@footerheight: 90px;


// Mixins

.border-radius ( @radius: 1px ) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.transition {
	 -webkit-transition: all 0.2s ease;
	-moz-transition:    all 0.2s ease;
	-o-transition:      all 0.2s ease;
}

 /* html5 elements */
/*----------------*/

header,footer,nav,article,section,
aside,figure,figcaption{display:block;}


 /* general appearance */
/*____________________*/

html, body {
	height: 100%; 
	font-size: 1em;
	padding: 0px;
	margin: 0px;
	background-color: @secbackground;
}

header.above,
header.top,
div.mainwrapper {
	margin: 0 auto;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.9em;
}

a { color: @linkcolor; }

p { word-wrap: break-word; }

h1 {
	font-size: 1.5em;
	color: @primtextcolor;
	margin-top: 0.5em;	
}
	
.left { float: left; }
.right { float: right; }
	
 
		
 /*	navigation menu */
/*_________________*/	

header.top {
	text-align: center;
	width: 100%;
	background-color: @primbackground;
	font-size: 1em;
	text-transform: uppercase;
	.admin {
		.right;
		margin-right: 1em;
		margin-top: 1em;
		padding: 1px;
		.border-radius(5px);
		background: white;
		a {
			color: black;
			text-decoration: none;
			text-transform: lowercase;
			font-size: 0.9em;
		}
	}
	&:hover {
		background-color: lighten(@primbackground, 5%);
		font-size: 1em;

	}
}	
		
		
nav.menu {
	width: 100%;
	margin: 0 auto;
	padding: 1em 0;
	.transition;
	a {
		font-family: 'Oleo Script', cursive;
		text-align: center;
		color: @menulinkcolor;
		padding:0 0.5em;
		text-decoration: none;
		font-size: 1.5em;
		&:hover {
			color: @menuhovercolor;
			text-decoration: none;
		}
	}
}
	
body#home a#home-,
body#articles a#articles-,
body#objects a#objects-,
body#gallery a#gallery-, 
body#about a#about-
{
	color: @menuhighlight;
	font-weight: 700;
}	

		
 /*	logo */
/*______*/

header.logo {
	font-family: 'Bilbo Swash Caps', cursive;
	font-family: 'Oleo Script', cursive;
	//font-family: 'Great Vibes', cursive;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center; 
	width: 100%;
	color: black;
	margin-top: 2em;
	margin-bottom: 2em;
	h5 {
		font-style: normal;
		font-weight: normal;
		font-size: 2.5em;
		margin: 0px;
	}
}

 /*   main wrapper	*/
/*_________________*/

div.stickfootwrap {
	min-height: 100%;
}

div.mainwrapper {
	width: @pagewidth;
	min-height: 35em;
	background-color: @secbackground;
	overflow:auto;
	padding-bottom: @footerheight;
}

div.randimage {
	.left;
	margin-right: 2em;
	width: @divimagewidth;
}

div.primary {
	.left;
	width: @divprimwidth;
}
	
div.secondary {
	.right;
	width: @divsecwidth;
}

footer.byline {

}


 /* footer	*/
/*_________*/

div.footer {
	position: relative;
	margin-top: -@footerheight; /* negative value of footer height */
	height: @footerheight;
	background-color: @footerbackground;	
	border-top: 1px solid black;
	clear:both;
}

// actual content container
footer.bottom {
	width: @footerwidth;
	clear: both;
	margin: 0 auto;
	text-align: center;
	padding-top: 1em;
	a {
		text-decoration: none;
		margin: 0 0.7em;
		color: @footerlinkcolor;
		&:hover {
			color: @footerhovercolor;
			background: @primbackground;
		}
	}
	p {
		color: @footertextcolor;
	}
}

@footmargin: 1em 0;
div.leftfoot {
	width:50%;
	.left;
	margin: @footmargin;
}

div.rightfoot {
	width: 50%;
	.right;
	margin: @footmargin;
}

 /* Page styling classes */
 /*_____________________*/


form.login {
	width: 450px;
	margin: 0 auto;
}

legend.login {
	color: @primtextcolor;
}


 /* direct styling classes */
/*________________________*/

 .error, .alert, .notice, .success, .info { 
 	margin: 1.5em 0;
	 
}

div.debug {
	background: white;
	color: black;
	width: 100%;
	font-size: 0.5em;
	padding: 0.2em;
	&:hover {
		font-size: 1em;
	}
}
 
textarea.editor {
	width: 100%;
	height: 300px;
	font-size: 1em;
}

 /*	media queries (development)	*/
/*_____________________________*/

@media screen and (max-width: 1190px) {

}

@media screen and (max-width: 1024px) and (min-width: 768px) {

}


@media  only screen and (min-width: 480px) and (max-width: 767px) {
 
}

@media  only screen and (max-width: 479px) {

}

